<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>freelancer</display-name>

    <filter>
		<filter-name>AuthenticationAdminFilter</filter-name>
		<filter-class>com.epam.freelancer.filter.AuthenticationAdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationAdminFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <filter>
        <filter-name>AuthenticationDevFilter</filter-name>
        <filter-class>com.epam.freelancer.filter.AuthenticationDevFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationDevFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthenticationCustomerFilter</filter-name>
        <filter-class>com.epam.freelancer.filter.AuthenticationCustomerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationCustomerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>com.epam.freelancer.filter.UTF8Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>JSPFilter</filter-name>
        <filter-class>com.epam.freelancer.filter.JSPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JSPFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>


</web-app>