.head {
    color: white;
    text-align: center;
}

.block-left {
    color: white;
    text-align: center;
    background-color: #009bc2;
}

.block-right {
    color: white;
    background-color: #c0a16b;
    text-align: center;
}

.block-left img:hover {
    opacity: 0.7;
}

.block-right img:hover {
    opacity: 0.7;
}

.work {
    margin-bottom: 10px;
}

.hire {
    margin-bottom: 10px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}